.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.person {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 5px;
  margin-top: 5px;
}
